$white: #f3f3f3;
$brown: #513a29;
$light_brown: #826752;
$dark_brown: #3b2512;
$cream: #c4a489;

body{
    background:url("../img/coffee_bg_filtered.jpg");
    background-size:cover;
    color:$white;
}

#coffeeInterface{
    background-color:$brown;
    margin: 60px 0px;
    padding:30px;
    border-radius: 4px;
}
#coffeeTitle{
    border-bottom: solid 2px $light_brown;
}

/* form styles */
label{
    font-weight: bold;
}